extends base

block scripts
	script(src=apiHost + "/js/api.js", type="text/javascript")

block content
	p LOG DAT SHIT IN
	#MaelstromLogin INJECT CONTENT HERE DOOD!

	script(type="text/javascript")
		maelstrom.configure({
			appid: "50121884bee6cac105000028",
			callback: "http://nodetest.projectmaelstrom.com:4000/callback"
		});
		maelstrom.loginWidget();